body
{
background: grey;
color:white;
font-size: 30px;
font-family:cursive;
}
#container {
background: #FFFFFF;
margin: 30px auto;
width: 900px;
height: 1000px;
}
#header {
background: #838283;
height: 200px;
width: 900px;
font-size: 100px;
text-align:center;
}
#menu {
background: #333333;
float: left;
text-align:center;
width: 200px;
height: 600px;
}
#content {
background: #d2d0d2;
float: right;
width: 700px;
height: 600px;
}
#footer {
background: #838283;
height: 80px;
width: 900px;
}